.Benutzername
{

color: white;


}
.projekt
{
    float: left;
    width: 46%;
    margin-right: 3.33333%;
    border : solid 3px #000000;
    padding: 5px;
    box-sizing: border-box;
    overflow: auto;

}
.anmeldung
{
    border: solid 3px #000000;
    width: 20%;
    padding: 10px;
    font-style: arial;
    background-color:#0070B8;
    font-size:20px;


}
.navigation
{
    border: solid 3px #000000;
    padding: 5px;
    background-color: #0070B8;
}
.navigationanmeldung
{
    border: solid 3px #000000;
    padding: 5px;
	background-color: #0070B8;
	height: 64px;

}


.image
{
    position: absolute;
    right:5px;
    align-items: right;
}
.alleprojekte
{
    border: solid 3px #000000;
    padding: 10px;
    margin-top: 1em;
    margin-right: 3.33333%;
    box-sizing: border-box;
    float: inline-start;
}

input
{
    background-color: #FFFFFF;
}
select
{
    background-color: #FFFFFF;
}
.projekttable
{
    border:0;
}
.Scroll
{
	height: 300px;
	width: 3000px;
	font-size:15px;
	overflow: auto;
}
.Scrollaußen
{
	height: 300px;
	width: 1900px;
	font-size:15px;
}
.tabelletext
{
    background-color:#FFFFFF;
    width: auto;
    text-align: left;

}
.tabelle
{
    background-color:#FFFFFF;
	min-width: 150px;
    /*align: center;*/
}
.tabelle1
{
    background-color:#FFFFFF;
	max-width: 150px;
	min-width:150px;

    /*align: center;*/
}

.tabelle3
{
    background-color:#FFFFFF;
	max-width: 220px;
	min-width:220px;

    /*align: center;*/
}

.tabelle4
{
    background-color:#FFFFFF;
	min-width: 220px;
    /*align: center;*/
}

.tabelle2
{
    background-color:#f8b470;
	min-width: 155px;
  color: #000000;
}
.tabelleZwischensummeNr
{
	min-width: 9.45%;
	max-width: 9.45%;
	background-color:#f8b470;
	font-weight: 700;

  color: #000000;
}
.tabelleZwischensummeText
{
	min-width: 1395px;
	max-width: 100%;
    background-color:#f8b470;

	font-weight: 700;
  color: #000000;
}

.tabelleSumme
{
	width: 155px;
    background-color:#fbd9b6;

  color: #000000;
}


.tabellezahlen
{
    background-color:#FFFFFF;
    width: auto;
    text-align: right;

}
.tabelleohneinput
{
    background-color:#FFFFFF;
	min-width: 300px;
}
.tabellemobil
{
    background-color:#FFFFFF;
}
.tabellehauptseite
{
    background-color:#FFFFFF;
}
.tabellekundeajax
{
	background-color:#FFFFFF;
	border-bottom: 0;
	border-top: 0;
    width: 300px;
}
.textbereich
{
	height: 100px;
	width: 207px;
	resize: none;
	background-color: #f8b470;
	font-family:Arial;
	font-size:12px;
}
.textbereichzeit
{
	height: 100px;
	width: 507px;
	resize: none;
	background-color: #f8b470;
	font-family:Arial;
	font-size:12px;
}
body
{
    background-color:  rgb(180, 192, 197);
    font-family: arial;
}
.borderless
{

    border-bottom: solid 3px #000000;
    border-top: solid 3px #0070B8;
    border-right: solid 3px #0070B8;
}
.myButton {

	background-color:#0070b8;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:4px 13px;
	text-decoration:none;
}

.abrechnung {

  	background-color:#49B675;
  	border-radius:6px;
  	border:1px solid #000000;
  	display:inline-block;
  	cursor:pointer;
  	color:#ffffff;
  	font-family:Arial;
  	font-size:12px;
  	font-weight:bold;
  	padding:4px 13px;
  	text-decoration:none;

}


.myButton:hover {
	background:linear-gradient(to bottom, #0071b8 5%, #ffffff 100%);
	background-color:#0071b8;
}
.myButton:active {
	position:relative;
    top:1px;
}
.inputbutton {

	background-color:#0071b8;
	border-radius:6px;
	border:2px solid #f8b470;
	width: 125px;
	text-align: center;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:3px 44px;
	text-decoration:none;

}
.inputbuttonweiteres {

	background-color:#0071b8;
	border-radius:6px;
	border:3px solid #f8b470;
	width: 175px;
	text-align: center;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:3px 44px;
	text-decoration:none;

}
.inputbuttonstempel {

  background:linear-gradient(to bottom, #00CC66 5%, #00CC66 100%);
	background-color:#666666;
	border-radius:6px;
	border:2px solid #00DD88;
	width: 150px;
  height: 20px;
	text-align: center;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:3px 44px;
	text-decoration:none;

}

.inputbuttonlogout2 {

  background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
  background-color:#000000;
	border-radius:6px;
	border:2px solid #d83526;
	width: 150px;
  height: 20px;
	text-align: center;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:3px 44px;
	text-decoration:none;

}

.inputbuttonweiteres:hover{
	background:linear-gradient(to bottom, #0071b8 5%, #FFFFFF);
	background-color:#e4685d;
}
.inputbuttonlogout {
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#000000;
	border-radius:6px;
	border:3px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:3px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.inputbuttonlogin {
	background:linear-gradient(to bottom, #00CC66 5%, #00CC66 100%);
	background-color:#666666;
	border-radius:6px;
	border:3px solid #00CC66;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:3px 44px;
	text-decoration:none;
}
.inputbuttonlogout:hover {
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#fc8d83;
}
.inputbuttonlogout:active {
	position:relative;
	top:1px;
}
.inputbutton:hover {
	background:linear-gradient(to bottom, #0071b8 5%, #ffffff 100%);
	background-color:#0071b8;
}
.inputbutton:active {
	position:relative;
	top:1px;
}
.entfernen {
	box-shadow: 0px 0px 0px 0px #ffffff;

	background-color:#d46363;

	border-radius:5px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;

	color:#FFFFFF;

	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:4px 13px;
	text-decoration:none;

}


.entfernen:hover {
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#e4685d;
}
.entfernen:active {
	position:relative;
    top: 1px;
}

.abrechnen {
	box-shadow: 0px 0px 0px 0px #ffffff;
	background-color:#00b847;
	border-radius:5px;
	border:1px solid #00b847;
	display:inline-block;
	cursor:pointer;
	color:#00b847;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:4px 13px;
	text-decoration:none;

}

.abrechnen:hover {
	background:linear-gradient(to bottom, #00b847 5%, #00b847 100%);
	background-color:#00b847;
}
.abrechnen:active {
	position:relative;
    top: 1px;
}

input
{
	background-color: #f8b470;
}
select
{
	background-color: #f8b470;
}
.menuborderless
{
	border:0;
	border-bottom: 0;
}
.tabelleanwesend
{
	float:left;
	width:40%;
	border-left: none;
}
div.wrapper {
    padding: 0px;
    display: block;
    overflow: auto;
}
table.scroll {
    width: 100%;
    background-color: #fff;
}
table.scroll thead {
    width: 100%;
    background: #0071b8;
}



table.scroll thead tr:after {
    content: '';
    overflow-y: scroll;
    visibility: hidden;
}
table.scroll thead th {
    flex: 1 auto;
    display: block;
	color: #fff;
	text-align: left;
}

table.scroll tbody {
    display: block;
    width: 100%;
    overflow-y: auto;
    height: auto;
    max-height: 200px;
}
table.scroll thead tr,
table.scroll tbody tr {
    display: flex;
}
table.scroll tbody tr td {
    flex: 1 auto;
    word-wrap: break-word;
}
table.scroll thead tr th,
table.scroll tbody tr td {
    width: 155px;
    padding: 5px;
    border-bottom: 1px solid #eee;
}
table.fixed_header{
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
	}

/* Zeitübersicht */
	table.Zeituebersicht {
		width: 100%;
		background-color: #fff;
	}
	table.Zeituebersicht thead {
		width: 100%;
		background: #0071b8;
	}
	table.Zeituebersicht thead tr:after {
		content: '';
		overflow-y: scroll;
		visibility: hidden;
	}
	table.Zeituebersicht thead th {
		flex: 1 auto;
		display: block;
		color: #fff;
		text-align: left;
		
	}
	table.Zeituebersicht tbody {
		display: block;
		width: 100%;
		overflow-y: auto;
		height: auto;
		max-height: 550px;
	}
	table.Zeituebersicht thead tr,
	table.Zeituebersicht tbody tr {
		display: flex;
	}
	table.Zeituebersicht tbody tr td {
		flex: 1 auto;
		word-wrap: break-word;
		border: 1px;
	}
	table.Zeituebersicht tbody tr td.test,
	table.Zeituebersicht thead tr th.test {
		flex: 1 auto;
		word-wrap: break-word;
		max-width: 100px;
	}
	table.Zeituebersicht thead tr th,
	table.Zeituebersicht tbody tr td {
		width: 155px;
		padding: 5px;
		border-bottom: 1px solid #eee;
	}

/* Gesamtarbeitszeit container */
.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 1px 1px;
	grid-template-areas: "Filter Filter Filter Filter Filter Detail" "MonatFilter MonatFilter MonatFilter MonatFilter MonatFilter Button";
  }

  .Filter {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 1px 1px;
	grid-template-areas: "ZeitstatusFilter AbwesendheitsFilter ProjektFilter JahrFilter Sortierung";
	grid-area: Filter;
  }

  .ZeitstatusFilter { grid-area: ZeitstatusFilter; }

  .AbwesendheitsFilter { grid-area: AbwesendheitsFilter; }

  .ProjektFilter { grid-area: ProjektFilter; }

  .JahrFilter { grid-area: JahrFilter; }

  .Sortierung { grid-area: Sortierung; }

  .Detail { grid-area: Detail; }

  .Button { grid-area: Button; }

  .MonatFilter { grid-area: MonatFilter; }

  .Zweitabellen {
	display: grid;
	grid-template-columns: 18% 18%;
	grid-template-rows: 1fr;
	gap: 1px 1px;
	grid-template-areas: "Linkeeingabe Rechteeingabe";
  }

  .Linkeeingabe { grid-area: Linkeeingabe; }

  .Rechteeingabe { grid-area: Rechteeingabe; }

  table.rechnung {
	width: 100%;
	background-color: #fff;
}
table.rechnung thead {
	width: 100%;
	background: #0071b8;
}
table.rechnung thead tr:after {
	content: '';
	overflow-y: scroll;
	visibility: hidden;
}
table.rechnung thead th {
	flex: 1 auto;
	display: block;
	color: #fff;
	text-align: left;
}
table.rechnung tbody {
	display: block;
	width: 100%;
	overflow-y: auto;
	height: auto;
	max-height: 1000px;
}
table.rechnung thead tr,
table.rechnung tbody tr {
	display: flex;
}
table.rechnung tbody tr td {
	flex: 1 auto;
	word-wrap: break-word;
}
table.rechnung thead tr th,
table.rechnung tbody tr td {
	width: 155px;
	padding: 5px;
	border-bottom: 1px solid #eee;
}
table.tagessatz {
	width: 100%;
	background-color: #fff;
}
table.tagessatz thead {
	width: 100%;
	background: #f8b470;
}
table.tagessatz tbody {
	display: block;
	width: 100%;
	overflow-y: auto;
	height: auto;
	max-height: 1000px;
	background-color: #FFFFFF;
}
